{{!-- views/register.hbs --}}
<style>
  .register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://th.bing.com/th/id/OIP.hzbPz7V0bDuwtK3CCYsCxQHaEK?w=333&h=187&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-size: cover;
  }

  .registerTitle {
    font-size: 50px;
  }

  .registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }

  .registerForm > label {
    margin: 10px 0;
  }

  .registerInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }

  .registerInput:focus {
    outline: none;
  }

  .registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
  }

</style>
<div class="register">
  <span class="registerTitle">Register</span>
  <form class="registerForm" action="/auth/register" method="post">
    <label>Username</label>
    <input class="registerInput" type="text" name="username" placeholder="Enter your username..." />
    <label>Email</label>
    <input class="registerInput" type="text" name="email" placeholder="Enter your email..." />
    <label>Password</label>
    <input class="registerInput" type="password" name="password" placeholder="Enter your password..." />
    <button class="registerButton">Register</button>
  </form>
</div>